<!DOCTYPE html>
<html>
<title> Joe Zagorski </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Helvetica", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <%= image_tag "old.png" %>
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <h2><i class="fa fa-address-book fa-fw w3-margin-right w3-large w3-text-teal"></i> Joe Zagorski </h2>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i> Developer </p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i> Cleveland, Ohio</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i> j.j.zagorski@gmail.com </p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p> The percentages indicate the proportion of time I've spent learning the technology </p>
          <p> Ruby on Rails </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%"> 50% </div>
          </div>
          <p> Ruby </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white"> 30% </div>
            </div>
          </div>
          <p> Ubuntu (Server and Desktop) </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%"> 10% </div>
          </div>
          <p> Python </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%"> 10% </div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>

          <br>
        </div>
      </div><br>
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
      <!-- Title  -->
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-code fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i> Projects </h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Revolution Gymnastic Custom Methods </b></h5>
            <p> 
              I had a great deal of fun building this app! I learned a great deal about adding my own logic. If you're not familiar, Ruby on Rails has "helper methods" that allow you to keep logic out of the views (among other things).
              Some of these methods helped me create this app. The goal here is to give you a brief idea of what I built:

            </p>
          <hr>
        </div>
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-code fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i> Projects </h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b> Join Table </b></h5>
            <p> 
              I created a table that saves the student id and the course id. 

            </p>
          <hr>
        </div>